.App {
  text-align: center;
  background-color: #E6E6E6;
  color: #123A5A;
  height: 100vh;
  display: flex;
  overflow: auto;
}

.App-body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 800px;
  margin: auto;
  display: flex;
  font-size: 21px;
}

.survivalRate{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
