.filterContainer{
  margin-right: auto;
  margin-left: 56px;
}

.filterTextField{
  margin: 8px !important;
}

.filterResetButton{
  height: 56px;
  margin: 8px !important;
  width: 120px;
  background-color: #123A5A !important;
}