.slider-container{
  display: flex;
  margin-right: auto;
  margin-left: 64px;
}

.slider-text{
  width: 120px;
  text-align: center;
  margin: auto 15px auto 0;
  flex: none;
}

.slider-value{
  text-align: center;
  margin: auto 0 auto 10px;
}

.slide-container{
  width: 100%;
}

.MuiSlider-root{
  color: #123A5A !important;
}